.signUpWrapper {
  padding-inline: 20px;
}

.signUpWrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: scroll;
}

.signUpWrapper h2 {
  font-weight: 300;
  margin-bottom: 20px;
}

.inputSize {
  height: 50px;
}

.button {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 8px;
  padding-inline: 18px;
  margin-top: 20px;
  width: fit-content;
  transition: background-color 400ms;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: white;
}

.button:hover {
  background-color: white;
  color: var(--primary-color);
  transition: background-color 200ms;
}

@media (max-width: 475px) {
  .signUpWrapper {
    margin-inline: -40px;
  }
}

.errorMessage {
  display: flex;
  gap: 6px;
  margin-block: -8px;
  font-size: 1rem;
  font-weight: 400;
  color: red;
  text-align: initial;
  align-self: flex-start;
}

.errorMessage span {
  display: inline-block;
}

.errorStyles {
  border: 3px solid red;
  background-color: rgb(255, 236, 236);
}
