/* .signUpWrapper {
  padding-inline: 20px; 
} */

.signUpWrapper form {
  display: flex;
  padding-inline: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* max-height: min(50vh, 400px); */
  height: 380px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  /* scroll-padding-right: 10px; */
}

@media (max-height: 640px) {
  .signUpWrapper form {
    height: 50vh;
  }
}

@media (max-height: 400px) {
  .signUpWrapper form {
    height: 40vh;
  }
}

.signUpWrapper h2 {
  font-weight: 300;
  margin-bottom: 20px;
}

.inputSize {
  height: 50px;
}

.button {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 8px;
  padding-inline: 18px;
  margin-top: 20px;
  width: fit-content;
  transition: background-color 400ms;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: white;
  margin-bottom: 8px;
}

.button:hover {
  background-color: white;
  color: var(--primary-color);
  transition: background-color 200ms;
}

@media (max-width: 475px) {
  .signUpWrapper {
    margin-inline: -35px;
  }
}

.errorMessage {
  display: flex;
  gap: 6px;
  margin-block: -8px;
  font-size: 1rem;
  font-weight: 400;
  color: red;
  text-align: initial;
  align-self: flex-start;
}

.errorMessage span {
  display: inline-block;
}

.errorStyles {
  border: 3px solid red;
  background-color: rgb(255, 236, 236);
}
