.label {
  font-size: 1.2rem;
  font-weight: 350;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.border {
  /* border: 2px solid rgb(203, 203, 203); */
  border: 2px solid var(--border-grey);
}

.inputStyles {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 6px;
  padding: 16px;
  /* max-width: 100%; */
  width: 100%;
  height: 100%;
}

.inputStyles::placeholder {
  font-weight: 400;
  font-size: 1.2rem;
  color: hsl(0, 0%, 70%);
}
