.hamburgerMenu {
  position: fixed;
  top: 4rem;
  right: 0;
  bottom: 0;
  width: 400px;
  max-width: 80%;
  background-color: rgb(40, 40, 40, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 16px;
  border-left: 1px solid hsl(0deg, 0%, 30%);
  color: var(--text-color);
  font-weight: 700;
  will-change: transform;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 300ms ease-in, visibility 300ms ease-in,
    opacity 300ms ease-in;
  visibility: hidden;
}

.visible {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 200ms ease-out, opacity 200ms;
  visibility: revert;
}

.hamburgerMenu ul {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 10px;
}

.hamburgerMenu li {
  position: relative;
}

.hamburgerMenu a {
  width: 100%;
  padding: 16px;
  position: relative;
}

.hamburgerMenu li::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100%);
  height: 5px;
  width: 0;
  background-color: rgb(200, 61, 61);
  transition: width 400ms;
}

.hamburgerMenu li:hover::after {
  width: 100%;
  transition: width 200ms;
}

.hamburgerMenu button {
  align-self: center;
}

.hamburgerMenu button:last-of-type {
  margin-top: auto;
  margin-bottom: 32px;
}

.backdrop {
  display: none;
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: black;
}

.backdropVisible {
  display: block;
  animation: fade-in 500ms both;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

@media (min-width: 700px) {
  .hamburgerMenu,
  .backdrop {
    display: none;
  }
}
