.button {
  font-weight: 700;
  border: 2px solid var(--text-color);
  border-radius: 6px;
  padding: 4px 16px;
  white-space: nowrap;
  cursor: pointer;
}

.button:active {
  transform: scale(1.05);
}
