section:has(.productCardsWrapper) {
  margin-bottom: 30px;
  border-radius: 0 0 15px 15px;
}

.productCardsWrapper {
  margin-top: 70px;
  margin-bottom: 100px;
}

.mainHeading {
  margin-bottom: 28px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  gap: 18px;
}
