.card {
  --radius: 16px;
  border-radius: var(--radius);
  background-color: white;
  flex: 1 0 250px;
  --shadow-color: 0deg 0% 68%;
  box-shadow: 0px 0.4px 0.4px hsl(var(--shadow-color) / 0.44),
    0px 1.2px 1.3px -0.9px hsl(var(--shadow-color) / 0.41),
    -0.1px 3.2px 3.5px -1.9px hsl(var(--shadow-color) / 0.39),
    -0.2px 7.9px 8.5px -2.8px hsl(var(--shadow-color) / 0.37);
}

.card a {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card h3 {
  font-size: 1.1rem;
  font-weight: 350;
  padding-block: 8px;
  padding-inline: 16px;
  text-align: center;
  flex-grow: 1;
}

.imageWrapper {
  overflow: hidden;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  /* height: 300px; */
  aspect-ratio: 5/3;
}

.imageWrapper img {
  width: 100%;
  height: 100%;
  transition: transform 400ms;
  will-change: transform;
  object-fit: cover;
}

.imageWrapper img:hover,
.imageWrapper img:focus {
  transform: scale(1.2);
  transition: transform 200ms;
}
