.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: rgb(40, 40, 40, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  color: var(--text-color);
  border-bottom: 1px solid hsl(0deg, 0%, 30%);
  z-index: 1;
}

.nav {
  width: clamp(655px, 70%, 1500px);
  max-width: 100%;
  padding: 0 24px;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  gap: 54px;
}

.nav ul.menuUL {
  font-weight: 700;
  display: flex;
  align-self: stretch;
  align-items: center;
  gap: 24px;
}

.logo {
  margin-right: auto;
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 2rem;
  font-weight: 700;
}

.logo svg {
  transform: translateY(-3px);
}

.nav .menuUL li,
.hamburgerMenu li {
  position: relative;
  align-self: stretch;
}

.nav .menuUL li a::after,
.hamburgerMenu a::after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% - 5px);
  height: 5px;
  width: 0;
  background-color: rgb(200, 61, 61);
  transition: width 400ms;
}

.nav ul.menuUL li a:hover::after {
  width: 100%;
  transition: width 200ms;
}

.nav ul.menuUL a,
.hamburgerMenu a {
  display: flex;
  align-items: center;
  height: 100%;
}

.active {
  background-color: rgb(63, 63, 63);
}

.hoverColor:hover {
  background-color: rgb(63, 63, 63);
}

.hamburgerMenuButton {
  display: none;
}

@media (max-width: 700px) {
  .nav ul.menuUL,
  .nav .navButtonWrapper button {
    display: none;
  }

  button.hamburgerMenuButton {
    display: revert;
  }
}
