.sectionWrapper {
  background-color: white;
  width: 90ch;
  max-width: 100%;
  /* width: clamp(655px, 70%, 1500px);
  max-width: 100%; */
  margin-inline: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
