@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid rgb(238, 50, 50); */
}

html {
  scroll-behavior: smooth;
}

html,
#root {
  height: 100%;
}

body {
  height: 100%;
  overflow-y: scroll;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Inter, -apple-system, BlinkMacSystemFont, SegoeUI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, HelveticaNeue, sans-serif;
  font-size: 1.2rem;
  --text-color: hsl(0, 0%, 89%);
  --primary-color: hsla(0, 0%, 16%);
  --secondary-color: hsl(0, 0%, 100%);
  --border-grey: rgb(178, 178, 178);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

svg {
  display: block;
}

button,
input {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
}

input {
  min-width: 0;
}

img {
  display: block;
}
